<h1>Listing precursor_families</h1>

<table>
  <tr>
  </tr>

<% for precursor_family in @precursor_families %>
  <tr>
    <td><%= link_to 'Show', precursor_family %></td>
    <td><%= link_to 'Edit', edit_precursor_family_path(precursor_family) %></td>
    <td><%= link_to 'Destroy', precursor_family, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New precursor_family', new_precursor_family_path %>
