<div id="col-top"></div>    
<div id="col" class="box">

<h2>Search</h2>

<% form_tag({:action => :index}, :method => :get) do %>
<div id="autocomplete"><%= render :partial=>"shared/search_pane" %></div>
<% end %>

<%= will_paginate @objects, :params => params %>

<% if !@objects.empty? %>
<table class="search">
  <tr><th>class</th><th>name</th><tr>
  <%= render :partial => 'search', :collection => @objects, :as => :object %>
</table>
<% end %>

</div> <!-- /col -->
<div id="col-bottom"></div>
