<h1>Editing species</h1>

<% form_for(@species) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @species %> |
<%= link_to 'Back', species_path %>
