<h1>Listing species</h1>

<table>
  <tr>
  </tr>

<% for species in @species %>
  <tr>
    <td><%= species.abbreviation %></td>
    <td><%= species.name %></td>
    <td><%= link_to 'Show', species %></td>
  </tr>
<% end %>
</table>

<br />

