<h1>Editing mature</h1>

<% form_for(@mature) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @mature %> |
<%= link_to 'Back', matures_path %>
