<div id="col-top"></div>    
<div id="col" class="box">

<h3>Listing matures</h3>

<div id="searchinfo"><%= "Found " + @matures.total_entries.to_s + " mature(s)" %></div>

<% form_tag({:action => :index}, :method => :get) do %>
<div id="autocomplete"><%= render :partial=>"shared/search_pane" %></div>
<% end %>
<br>  
<%= will_paginate @matures, :params => params %>

<% if !@matures.empty? %>
<table class="search">
  <tr><th>mature</th><th>sequence</th><th>evidence</th><th>experiment</th><tr>
  <%= render :partial => 'mature', :collection => @matures %>
</table>
<% end %>

</div> <!-- /col -->
<div id="col-bottom"></div>
