<div id="col-top"></div>    
<div id="col">

  <h2>miRMaid</h2>

  <p>This is release <a href="http://www.mirmaid.org/doku.php?id=release_notes"><%= @mirmaid_version %></a> of miRMaid.</p>
  <p>Read more about miRMaid at the community wiki, <a href="http://www.mirmaid.org">www.mirmaid.org</a>.</p>
  
  <% if !MIRMAID_CONFIG.plugin_menu.empty?%>
  <h2>Active plugins</h2>
  <P> The following plugins are activated. </p>
    <table class="info">
      <% MIRMAID_CONFIG.plugin_menu.each do |plugin_name,resources| %>
      <tr><%= "<th>"+plugin_name + "</th><td>" + resources.map{|x| link_to x, ("/"+x)}.join(", ") + "<td>"%></tr>
      <% end %>
    </table>
  <% end %>

  <h2>miRBase release information</h2>

  <p>This miRMaid server is build on release <%= @mirbase_version %> of <a href="http://www.mirbase.org">miRBase</a>.</p>

</div> <!-- /col -->
<div id="col-bottom"></div>
