# Sqlite3
# http://wiki.rubyonrails.org/database-support/sqlite

production:
  adapter: sqlite3
  database: db/production.db.sqlite3
  pool: 5
  timeout: 5000

# MySQL (default setup). 
# http://wiki.rubyonrails.org/database-support/mysql

#production:
#  adapter: mysql
#  database: mirmaid
#  username: john
#  password: doe
#  host: dbhost

# PostgreSQL versions >=7.4
# http://wiki.rubyonrails.org/database-support/postgres

#production:
#  adapter: postgresql
#  database: mirmaid
#  username: john
#  password: doe
#  host: dbhost
