###
### Edit and rename this file to "mirmaid_config.yml"
###

## MirMaid configuration
# log_level: set log level (in log files log/*.log), [debug,info,warn,error,fatal]

mirmaid:
  log_level: error

## MirMaid configuraion
# version: version number corresponding to ftp://ftp.sanger.ac.uk/pub/mirbase/sequences/, i.e. [10.1]
# How MirMaid fetches miRBase data
# if local_data is defined       : copy from local data dir
# else if remote_data is defined : wget from remote dir
# else assume data is already in tmp/mirbase_data/

mirbase:
  version: CURRENT
  local_data: 
  remote_data: ftp://ftp.sanger.ac.uk/pub/mirbase/sequences/

## Web server configuration
# ferret: Ferret search engine, only recommended if web interface is to be used [true/false]
# relative_url_root: (experimental feature) use relative root. i.e. for www.mydomain.org/subdir enter [/subdir]
# google_analytics: activate Google Analytics reporting by entering your tracker id, i.e. ['UA-12345-67']

web:
  ferret: false
  relative_url_root: /
  google_analytics:

