###
### Edit and rename this file to "mirmaid_config.yml"
###

# How MirMaid fetches miRBase data
# if local_data is defined       : copy from local data dir
# else if remote_data is defined : wget from remote dir
# else assume data is already in tmp/mirbase_data/

mirbase:
  version: CURRENT
  local_data: 
  remote_data: ftp://ftp.sanger.ac.uk/pub/mirbase/sequences/

# Ferret indexing, only recommended for web interface

ferret:
  enabled: false