<h1>Listing genome_contexts</h1>

<table>
  <tr>
  </tr>

<% for genome_context in @genome_contexts %>
  <tr>
    <td><%= link_to 'Show', genome_context %></td>
    <td><%= link_to 'Edit', edit_genome_context_path(genome_context) %></td>
    <td><%= link_to 'Destroy', genome_context, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New genome_context', new_genome_context_path %>
