<h1>Listing precursor_clusters</h1>

<table>
  <tr>
  </tr>

<% for precursor_cluster in @precursor_clusters %>
  <tr>
    <td><%= link_to 'Show', precursor_cluster %></td>
    <td><%= link_to 'Edit', edit_precursor_cluster_path(precursor_cluster) %></td>
    <td><%= link_to 'Destroy', precursor_cluster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New precursor_cluster', new_precursor_cluster_path %>
