<ul>
  <% for precursor in @precursors %>
  <li><%= link_to precursor.name, precursor_url(precursor.name) %></li>
  <% end %>
  <li><b><i>... found <%= @precursors.total_hits %> hit(s)</i></b></li>
</ul>
