<h1>Editing precursor</h1>

<% form_for(@precursor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @precursor %> |
<%= link_to 'Back', precursors_path %>
