<div id="col-top"></div>    
<div id="col" class="box">

<h3>Listing precursors</h3>

<% form_tag({:action => :index}, :method => :get) do %>
<%= render :partial=>"precursors/search_pane" %>
<%= submit_tag 'Search' %>
<img id='search_spinner' src='/images/spinner.gif'  style='display:none;'/>
<% end %>
<br>
  
<%= will_paginate @precursors, :params => params %>

<table class="search">
  <tr><th>precursor</th><th>matures</th><th>comment</th><th>position</th><tr>
  <%= render :partial => 'precursor', :collection => @precursors %>
</table>

</div> <!-- /col -->
<div id="col-bottom"></div>
