<h1>Listing precursors</h1>

<table>
  <tr>
  </tr>

<% for precursor in @precursors %>
  <tr>
    <td><%= precursor.name %></td>
    <td><%= link_to 'Show', precursor %></td>
  </tr>
<% end %>
</table>

<br />

